<% if session[:util_id] %>
  <%= render partial: 'pages/nav2', locals: {util_courant: @util_courant} %>
<% else %>
  <%= render "pages/nav" %>
<% end %>
<div style="width: 80%;margin-left: 10%;">
<h1 style="color: #FE980F; text-align: center;"> Otiva.ma </h1>
<table  bgcolor="white" cellpadding="10px" >



<tr bgcolor="#FE980F">
<td>
<h2 style="color: white;"> Le bon choix pour acheter et vendre en toute sécurité au Maroc.</h2>
</td></tr>
<tr>
<td>
<h5>Nous sommes convaincus que <%= link_to 'www.Otiva.com', root_path,class:"d" %> constitue le choix le plus sûr et le plus pratique pour tout vendre ou acheter au Maroc. Ce service permet à tout utilisateur au Maroc de vendre ou d'acheter en toute simplicité dans sa région, sans inscription ni procédure compliquée. <%= link_to 'www.Otiva.com', root_path,class:"d" %> met en rapport les vendeurs et les acheteurs du Maroc et offre une expérience utilisateur exceptionnelle.
</h5>
</td></tr>
<tr bgcolor="#FE980F">
<td>

<h2 style="color: white;"> Qui sommes-nous ?</h2>
</td></tr>
<tr>
<td>
<div class="col-sm-9 padding-right">
					<div class="features_items">
						<h2 class="title text-center"></h2>
						<div class="col-sm-4" style="width: 25%;">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<%= image_tag "images/home/morad.jpg" %>
											
											<h2>QABEQBA Morad</h2>
											<p>moradqabeqba@gmail.com</p>
											
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>QABEQBA Morad</h2>
												<p>moradqabeqba@gmail.com</p>
												
											</div>
										</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4" style="width: 24%;">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag "images/home/Zaid.jpg" %>
										
										<h2>BENNANI Zaid</h2>
										<p>zaidbennani22@gmail.com</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>BENNANI Zaid</h2>
											<p>zaidbennani22@gmail.com</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4" style="width: 24%;">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag "images/home/jihad.jpg" %>
										
										<h2>ELHADI jihad</h2>
										<p>jihad.elhadi@gmail.com</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>ELHADI</h2>
											<p>jihad.elhadi@gmail.com</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div><div class="col-sm-4" style="width: 27%;">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag "images/home/Ayoub.jpg" %>
										
										<h2>MOURABIT Ayoub</h2>
										<p>ayoub.mourabit.00@gmail.com</p>
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>MOURABIT Ayoub</h2>
											<p>ayoub.mourabit.00@gmail.com</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
		</div></div></div></div>
</td></tr>
<tr bgcolor="#FE980F">
<td>
<h2 style="color: white;">Mission</h2>
</td></tr>
<tr>
<td>
<h5>Notre projet  consiste à concevoir une plateforme qui permet la vente et l’achat au Maroc.
</h5>
</td>
</tr>
</table>
</div>
<br/>